.interactive {
  &:hover {
    cursor: pointer;
  }

  &.inactive {
    color: lightslategrey;
  }
}
button {
  &.btn {
    margin-bottom: 0.5em;
  }
}

div {
  &.control {
    text-align: center;
    svg {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}