.instructions {
  tr.active {
      background-color: greenyellow;
  }
}

.interactive {
  &:hover {
    cursor: pointer;
  }

  &.inactive {
    color: lightslategrey;
  }
}

div {
  &.control {
    text-align: center;
    span {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
}